* { margin: 0; padding: 0; }
.flex { display: flex; }
.aic { align-items: center; }
.jcc { justify-content: center; }
.column { flex-direction: column; }
.jc-se { justify-content: space-evenly; }
body { height: 100vh; }